.VIpgJd-ZVi9od-ORHb-OEVmcd {
  left: 0;
  top: 0;
  height: 39px;
  width: 100%;
  z-index: 10000001;
  position: fixed;
  border: none;
  display: none !important;
}
.VIpgJd-ZVi9od-ORHb {
  display: none;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:link,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:visited,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:hover,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
  font-size: 12px;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  display: none;
}
.goog-te-gadget .goog-te-combo {
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: math;
}

/* .translate-ltr {
  margin-top: -40px;
}
.translate-ltr {
  margin-top: -40px;
}
.goog-te-banner-frame {
  display: none;
  margin-top: -20px;
}
.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
} */
